@import "bootstrap/scss/bootstrap";

.nav-text {
    font-size: 22px;
}

@media (max-width: 576px) {
    .nav-text {
        font-size: 16px;
    }
}

.about-image-container {
    max-width: 100%; 
}

.about-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .about-image-container {
        max-width: 300px;  
    }
}

@media (max-width: 576px) {
    .about-image-container {
        max-width: 200px; 
    }
}

.yellow-border {
    width: 100%;
    max-width: 350px;
}

.inner-image-container {
    width: 100%;
    height: auto;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .yellow-border {
        max-width: 300px; 
    }
}

@media (max-width: 576px) {
    .yellow-border {
        max-width: 200px;
    }
}

.scroll-animate-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 2s ease;
}

.scroll-animate-right.visible {
    opacity: 1;
    transform: translateX(0);
}

.scroll-animate-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 2s ease;
}

.scroll-animate-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.scroll-animate-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s ease;
}

.scroll-animate-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.scroll-animate-down {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 2s ease;
}

.scroll-animate-down.visible {
    opacity: 1;
    transform: translateY(0);
}
